{% extends 'layouts/sub_base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block style %}
    <style>
        #resend {
            color: white;
            text-decoration: none;
            font-weight: lighter;
        }

        #resend:hover {
            text-decoration: underline;
        }

        .card-body p {
            margin: 3px;
            color: grey;
        }

        .job-title {
            color: black;
            text-decoration: none;
        }

        .job-title:hover {
            text-decoration: underline;
        }

        /* Responsive Styles */
        .card-container {
            display: flex;
            flex-wrap: wrap;
            gap: 15px; /* Adds space between cards */
            justify-content: center; /* Centers cards on larger screens */
            padding: 10px;
        }

        .card {
            flex: 1 1 calc(33.333% - 30px); /* Three cards per row on larger screens */
            max-width: calc(33.333% - 30px); /* Ensures cards don't exceed width */
            margin: 5px;
            padding: 10px;
            box-sizing: border-box; /* Ensures padding is included in width */
            border: 1px solid #ddd; /* Optional: Adds a border for better visual separation */
            border-radius: 8px; /* Optional: Rounds card corners */
        }

        .card img {
            width: 100%; /* Makes image responsive */
            height: 180px; /* Fixed height for images */
            object-fit: cover; /* Ensures image covers the area */
            border-radius: 8px; /* Optional: Rounds image corners */
        }

        /* Media Queries for Responsiveness */
        @media (max-width: 992px) {
            .card {
                flex: 1 1 calc(50% - 30px); /* Two cards per row on tablets */
                max-width: calc(50% - 30px);
            }
        }

        @media (max-width: 576px) {
            .card {
                flex: 1 1 100%; /* One card per row on mobile */
                max-width: 100%;
            }
        }

        /* Responsive adjustments for the email activation message */
        @media (max-width: 768px) {
            #cross-message {
                width: 80%; /* Wider on smaller screens */
            }
        }

        @media (max-width: 480px) {
            #cross-message {
                width: 100%; /* Full width on mobile */
            }
        }

        /* Responsive adjustments for the search form */
        @media (max-width: 768px) {
            .col-md-5, .col-md-2 {
                width: 100%; /* Full width on smaller screens */
                margin-bottom: 10px; /* Adds spacing between form elements */
            }

            .col-md-2 {
                display: flex;
                gap: 10px; /* Adds spacing between buttons */
            }
        }
    </style>
{% endblock %}

{% block sub_content %}
    {% if request.user.is_authenticated and not request.user.is_verified %}
        <div id="cross-message"
             style="background-color: grey; color: white; width: 40%; padding: 5px; border-radius: 15px;margin: auto">
            <h5 style="margin-left: 3px; cursor: pointer">
                Please activate your email
                <a id="resend" href="{% url 'resend_ac_activation' request.user.id %}"><small>Resend email activation</small></a>
                <sup style="margin-left: 1px" onclick="hideMessage()">x</sup>
            </h5>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <br>
            <form method="get">
                <div class="row">
                    <div class="col-md-5">
                        <input style="width: 100%; display: inline" placeholder="Search..." type="text" class="form-control" name="search" value="{{ request.GET.search }}">
                    </div>
                    <div class="col-md-2">
                        <button style="margin-left: 5px" class="btn btn-success" type="submit">Submit</button>
                        <a href="{% url 'home_page' %}" class="btn btn-primary"> Clear</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="card-container">
        {% for job in object_list %}
            <div class="card">
                {% if job.image %}
                    <a href="{% url 'job_detail' job.id %}">
                        <img class="card-img-top" src="{{ job.image.url }}" alt="{{ job.title }}">
                    </a>
                {% else %}
                    <a href="{% url 'job_detail' job.id %}">
                        <img class="card-img-top" src="{% static 'main/job/offer.svg' %}" alt="Default Image">
                    </a>
                {% endif %}
                <hr>
                <div class="card-body">
                    <h5><a href="{% url 'job_detail' job.id %}" class="job-title">{{ job.title }}</a></h5>
                    <p class="card-text"><i class="fa fa-map-marker"></i> {{ job.location }}</p>
                    <p class="card-text"><i class="fa-solid fa-list"></i> {{ job.category.title }}</p>
                    <p class="card-text" style="font-size: 0.8rem; color: red"><i class="fa fa-clock-o"></i> {{ job.apply_before }}</p>
                    {% if request.user.is_authenticated %}
                        {% if not job.applied %}
                            <a href="#" data-toggle="modal" data-target="#apply_{{ job.id }}"
                               class="btn btn-outline-primary" style="float: right">Apply Now</a>
                        {% else %}
                            <button class="btn btn-outline-primary" disabled style="float: right;">Applied</button>
                        {% endif %}

                        <div class="modal fade" id="apply_{{ job.id }}" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Apply to job {{ job.title }}</h5>
                                        <span class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true" style="margin-left: 15px; text-decoration: none; cursor: pointer">&times;</span>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to apply for this job?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <a href="{% url 'apply_job' job.id %}" type="button" class="btn btn-primary">Confirm</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        {% if not job.applied %}
                            <a href="{% url 'user_login' %}" class="btn btn-outline-primary" style="float: right">Apply Now</a>
                        {% else %}
                            <button class="btn btn-outline-primary" disabled>Applied</button>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Recommended Jobs Section -->
    {% if has_applied_jobs and recommended_jobs %}
        <h2 style="margin: 20px 10px">Recommended for You</h2>
        <div class="card-container">
            {% for job in recommended_jobs %}
                <div class="card">
                    {% if job.image %}
                        <a href="{% url 'job_detail' job.id %}">
                            <img class="card-img-top" src="{{ job.image.url }}" alt="{{ job.title }}">
                        </a>
                    {% else %}
                        <a href="{% url 'job_detail' job.id %}">
                            <img class="card-img-top" src="{% static 'main/job/offer.svg' %}" alt="Default Image">
                        </a>
                    {% endif %}
                    <hr>
                    <div class="card-body">
                        <h5><a href="{% url 'job_detail' job.id %}" class="job-title">{{ job.title }}</a></h5>
                        <p class="card-text"><i class="fa fa-map-marker"></i> {{ job.location }}</p>
                        <p class="card-text"><i class="fa-solid fa-list"></i> {{ job.category.title }}</p>
                        <p class="card-text" style="font-size: 0.8rem; color: red"><i class="fa fa-clock-o"></i> {{ job.apply_before }}</p>
                        {% if request.user.is_authenticated %}
                        {% if not job.applied %}
                            <a href="#" data-toggle="modal" data-target="#apply_{{ job.id }}"
                               class="btn btn-outline-primary" style="float: right">Apply Now</a>
                        {% else %}
                            <button class="btn btn-outline-primary" disabled style="float: right;">Applied</button>
                        {% endif %}

                        <div class="modal fade" id="apply_{{ job.id }}" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Apply to job {{ job.title }}</h5>
                                        <span class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true" style="margin-left: 15px; text-decoration: none; cursor: pointer">&times;</span>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to apply for this job?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <a href="{% url 'apply_job' job.id %}" type="button" class="btn btn-primary">Confirm</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        {% if not job.applied %}
                            <a href="{% url 'user_login' %}" class="btn btn-outline-primary" style="float: right">Apply Now</a>
                        {% else %}
                            <button class="btn btn-outline-primary" disabled>Applied</button>
                        {% endif %}
                    {% endif %}
                       </div>
                   </div>
               {% endfor %}
           </div>
       {% endif %}


    {% if is_paginated %}
        {% include 'includes/pagination.html' %}
    {% endif %}
    <div style="height: 50px"></div>
{% endblock %}

{% block extra_js %}
    <script>
        function hideMessage() {
            messg = document.getElementById("cross-message")
            messg.style.display = "none"
        }

        

    </script>
{% endblock %}



